{% extends "layout.html" %} {% block body %}

<div class="container-fluid px-0 top-banner about-banner">


    <div class="container text-white">
        <div class="row justify-content-center text-center text-md-start g-5">

            <div class="col-12 col-md-6">
                <h2 class="display-5">Piyush Mini Mart</h2>
                <p style="font-size: 1.25rem;">{{ params['about-owner'] }}</p>
            </div>

            <div class="col-12 col-md-6">
                <h2 class="display-5">About the Developer</h2>
                <p style="font-size: 1.25rem;">{{ params['about-dev'] }}</p>
            </div>

        </div>
    </div>
</div>

{% endblock %}